@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:burlywood;
    color: white; 
    font-family: 'Roboto', sans-serif;
}
.App {
    display: flex;
    flex-direction: column;
}
.Content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.Header {
    padding: 15px;
    background-color: darkgoldenrod;
    text-align: end;
    box-shadow: 0px 1px 1px lightgrey;
}
.search {
    font-family: inherit;
    font-size: 16px;
    border: 2px solid burlywood;
    background-color: transparent;
    color: burlywood;
    border-radius: 50px;
    padding: 10px 20px;
    outline: none;
}